# Secrets
.env
*.env
*.json
secrets.py
*.secret.*
aws_credentials.txt
.aws/
aws-credentials.ini
*aws*credentials*

# Python
__pycache__/
*.pyc

# Django / Logs
db.sqlite3
*.log

# Node/JS (if hybrid)
node_modules/