{% extends 'critique/base.html' %}

{% block title %}Confirm Deletion - {{ artwork.title }} - Art Critique{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-header bg-danger text-white">
                    <h3 class="mb-0">Confirm Deletion</h3>
                </div>
                <div class="card-body">
                    <h4>Are you sure you want to delete "{{ artwork.title }}"?</h4>
                    
                    <div class="alert alert-warning mt-3">
                        <p><strong>Warning:</strong> This action cannot be undone. All associated reviews, comments, and reactions will also be deleted.</p>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-md-6">
                            {% if artwork.image %}
                                <img src="{{ artwork.image.url }}" class="img-fluid rounded" alt="{{ artwork.title }}" style="max-height: 200px; object-fit: contain;">
                            {% elif artwork.image_url %}
                                <img src="{{ artwork.image_url }}" class="img-fluid rounded" alt="{{ artwork.title }}" style="max-height: 200px; object-fit: contain;">
                            {% else %}
                                <div class="bg-secondary text-white d-flex justify-content-center align-items-center rounded" style="height: 200px;">
                                    <span>No Image Available</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <h5>Artwork Details</h5>
                            <p><strong>Title:</strong> {{ artwork.title }}</p>
                            <p><strong>Created:</strong> {{ artwork.created_at|date:"F d, Y" }}</p>
                            {% if artwork.medium %}<p><strong>Medium:</strong> {{ artwork.medium }}</p>{% endif %}
                        </div>
                    </div>
                    
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'critique:artwork_detail' artwork.id %}" class="btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                Permanently Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}